<div class="container">
  <h1>My Bookings</h1>

  <%# Refactor these two sections into a partial. Use if statement for the
      Criminal/Client line %>
  <div class="mb-5">
    <h3>Crimes you've hired others to commit</h3>
    <div class="d-flex flex-wrap">
      <% @bookings.each do |booking| %>
        <div class="col-3 card p-2">
          <%# TODO: Refactor to link whole card %>
          <p>Crime: <%= link_to booking.crime.crime_type, booking_path(booking) %></p>
          <div>
            <% if booking.photo.attached? %>
              <%# TODO: Refactor the crop/width/height %>
              <%= cl_image_tag booking.photo.key, height: 300, width: 300, crop: :fit %>
            <% end %>
          </div>
          <p>Target: <%= booking.target %></p>
          <p>Criminal: <%= booking.crime.user.username %></p>
          <p>Date: <%= booking.date.strftime('%a, %e %b %Y') %></p>
          <p>Cost: $<%= booking.crime.price %></p>
          <p>Status: <%= booking.status %></p>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="mb-5">
    <h3>Crimes you need to commit</h3>

    <div class="d-flex flex-wrap">
      <% @my_crime_bookings.each do |booking| %>
        <div class="col-3 card p-2">
          <%# TODO: Refactor to link whole card %>
          <p>Crime: <%= link_to booking.crime.crime_type, booking_path(booking) %></p>
          <div>
            <% if booking.photo.attached? %>
              <%# TODO: Refactor the crop/width/height %>
              <%= cl_image_tag booking.photo.key, height: 300, width: 300, crop: :fit %>
            <%# add else with placeholder image %>
            <% end %>
          </div>
          <p>Target: <%= booking.target %></p>
          <p>Date: <%= booking.date.strftime('%a, %e %b %Y') %></p>
          <p>Cost: $<%= booking.crime.price %></p>
          <p>Status: <%= booking.status %></p>
          <% if booking.status == "pending" %>
            <%= link_to "approve",
              approve_booking_path(booking),
              class: "btn btn-outline-success"
            %>
            <%= link_to "reject",
              reject_booking_path(booking),
              class: "btn btn-outline-danger"
            %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
