<div class="container">
  <h1 class="text-info">This is a booking</h1>

  <p>Crime: <%= @booking.crime.crime_type %></p>
  <p>Target: <%= @booking.target %></p>
  <p>Date: <%= @booking.date %></p>
  <p>Status: <%= @booking.status %></p>


  <p>Cost: $<%= @booking.crime.price %></p>

  <%# TODO: Need logic below to display buyer if the user is the criminal
        and display the criminal if the user is the buyer %>
  <p>Buyer: <%= @booking.user.username %></p>
  <p>Criminal: <%= @booking.crime.user.username %></p>
</div>
