<div class="container">
  <h1 class="text-info"><%= current_user.username %></h1>
  <p><%= current_user.email %></p>
  <p><%= current_user.encrypted_password %></p>
  <p><%= current_user.bio %></p>

  <%# Need to add path here %>
  <%= link_to "Delete account", "#" %>
</div>
