<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "airbne-logo.png", style:'height:50px;width:100px' %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item list-inline"
            <span>
            <%= form_tag crimes_path, method: :get do %>
              <%= text_field_tag 'keywords', nil, placeholder: "Search for crimes", class: "form-control" %>
              <%= submit_tag 'Search', name: nil %>
            <% end %>
            </span>
          </li>
          <li class="nav-item active">
            <%= link_to "All crimes", crimes_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%# Needs path for viewing own crimes %>
            <%= link_to "My crimes", my_crimes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My bookings", user_bookings_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%# Needs path for viewing job I'm doing (as the criminal) %>
            <%= link_to "My jobs", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add a crime", new_crime_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "View profile", user_path(current_user), class: "dropdown-item" %>
              <%# Needs path for editing own profile %>
              <%= link_to "Edit profile", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
