<% @crimes.each do |crime| %>
  <div class="crime-card">
    <%= link_to crime_path(crime), class: "text-decoration-none" do %>
      <h3><%= crime.crime_type %></h3>
      <div class="text-secondary">
        <h4><%= crime.user.email %></h4>
        <p>$<%= crime.price %></p>
        <p><%= crime.area %></p>
        <p><%= crime.years_experience %> years of experience in <%= crime.crime_type %></p>
      </div>
    <% end %>
  </div>
<% end %>
