<% @crimes.each do |crime| %>
  <div class="crime-card">
    <span>
      <h3><%= crime.crime_type %></h3>
      <h4><%= crime.user.email %></h4>
    <span>
    <h5><%= crime.area %></h5>
    <p>$<%= crime.price %></p>
    <p><%= crime.years_experience %> years of experience in <%= crime.crime_type %></p>
  </div>
<% end %>
