<div class="window">
  <%= link_to crime_path(crime), class: "text-decoration-none" do %>
    <h3><%= crime.crime_type.capitalize %></h3>
    <div class="text-lightred"><h4>$<%= crime.price %></h4></div>
    <div class="<%= crime.crime_type.capitalize.gsub(/\s+/, "") %> default-icon center mb-1"></div>
    <h5><%= crime.area %></h5>
    <p><%= crime.user.username %></p>
    <p><%= crime.years_experience %> years of experience in <%= crime.crime_type %></p>
  <% end %>
</div>
