<div class="container">
  <h1 class="mb-4 text-primary">All Crimes</h1>

<div class="d-flex flex-wrap justify-content-between mb-3">
        <h4>Filter by crime:</h4>
          <% @crime_types.each do |type| %>
            <button class="btn btn-ghost btn-sm"
              data-controller="filter-type"
              data-action="click->filter-type#toggle"
            >
            <div class="<%= type.gsub(/\s+/, "") %> default-icon center"></div>
              <span><%= type %></span>
            </button>
          <% end %>
      </div>
  <div class="d-flex">
    <div class="col-4">


      <div class="d-flex flex-wrap justify-content-around">
        <%= render partial: "crime" %>
      </div>
    </div>
    <div class="mb-5" style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
