<%# Jackson made the skeleton
  Andrew made the rest %>

<div class="container">
  <%# This h1 looks bad and needs better styling!  %>
  <h1 class="mb-3 text-info"><%= @crime.crime_type.capitalize %> by <%= @user.username %></h1>

  <%# Div with info on the crime %>
  <div>
    <p>Crime: <%= @crime.crime_type %></p>
    <p>Criminal: <%= @user.username %></p>
    <p>Area of operations: <%= @crime.area %></p>
    <p>Price: $<%= @crime.price %></p>
    <p>Years of experience: <%= @crime.years_experience.nil? ? "unknown" : @crime.years_experience %></p>
  </div>

  <%# Div with navigation options for users %>
  <div>
    <p>
      <%= link_to "edit" if @user == current_user %>
      <% if @user == current_user %>
        <%= link_to "delete", crime_path(@crime), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
      <%# <%= link_to "book" unless @user == current_user %>
       <%# <a class="banner-button btn-flat" href="#">Book this crime</a> %>
       <% unless @user == current_user %>
      <%= link_to "Book this crime", new_crime_booking_path(@crime) %>
      <% end %>
      <br>
    </p>
  </div>
</div>
